# dnsmasq configuration to create container cname using {{ ansible_host }} as target
# Template to be rendered on container host.
cname={{ item.0.name }}{{ environment_suffix }}.{{ domain }},{{ dns_host }}.{{ domain }}
