# {{ ansible_managed }}
[homelab-fedora]
name=homelab-fedora
{% if http_dnf_repositories|default(false)|bool %}
baseurl=http://pkgs.{{ domain }}/{{ ansible_distribution_major_version }}
{% else %}
baseurl=file://{{ vmfs_path }}/rpm_repo/{{ ansible_distribution_major_version }}
{% endif %}
enabled=1
gpgcheck=0
cost=1
metadata_expire=60s
