# {{ ansible_managed }}
# Template to be rendered on nginx hosts.

{% for ctr in containers %}
{% if ctr.http_port_idx is defined %}
{% if ctr.http_proxy == item.0.name %}
server {
    listen       80;
    server_name {{ ctr.name }}{{ environment_suffix }}.{{ domain }};
    location / {
        proxy_pass  http://{{ hostvars[ctr.host].dns_host }}.{{ domain }}:{{ ctr.ports[ctr.http_port_idx] | split(":") | first }};
    }
}
{% endif %}
{% endif %}
{% endfor %}
