# create LV
- name: vm lvm volume
  lvol:
    lv: "{{ vm_inventory[item.name]['hostname'] }}"
    vg: "{{ item.vm_volume_group | default(vm_volume_group) }}"
    size: "{{ item.disk }}G"
  with_items: "{{ create_vms }}"

- name: Write image to lv
  shell: xz -dc {{ vm_images_path }}/{{ vm_images[item.image] }} > /dev/{{ item.vm_volume_group | default(vm_volume_group) }}/{{ vm_inventory[item.name]['hostname'] }}
  with_items: "{{ create_vms }}"

- file:
    path: "{{ vm_data_path }}/vmhost/{{ item.name }}"
    state: directory
  with_items: "{{ create_vms }}"

- template:
    src: "{{ item.1 }}.j2"
    dest: "{{ vm_data_path }}/vmhost/{{ item.0.name }}/{{ item.1 }}"
  with_nested:
    - "{{ create_vms }}"
    - ['meta-data', 'user-data', 'network-config']
  vars:
    vm: "{{ vm_inventory[item.0.name] }}"

- name: Generate cloud init iso
  shell: /usr/bin/genisoimage -output /var/lib/libvirt/images/{{ item.name }}_cloud-init.iso -volid cidata -joliet -rock user-data meta-data network-config
  args:
    chdir: "{{ vm_data_path }}/vmhost/{{ item.name }}"
  with_items:
    - "{{ create_vms }}"

#- file:
#    path: "{{ vm_data_path }}/vmhost/{{ item.0.name }}/{{ item.1 }}"
#    state: absent
#  with_nested:
#    - "{{ create_vms }}"
#    - ['meta-data', 'user-data']

- include_tasks: update-vm-definition.yml
  with_dict: "{{ vm_inventory }}"
  loop_control:
    loop_var: vm
  when:
    - vm.value.spec.state in ['running', 'created']

- command: /usr/bin/virsh attach-disk --persistent {{ item.0.value.spec.name }} {{ '/dev/' + vm_data[item.1.vm_data].volume_group | default(vm_data_volume_group) + '/vmdata-' + vm_data[item.1.vm_data].name }} {{ item.1.device }}
  loop: "{{ vm_inventory | dict2items | subelements('value.spec.disks', skip_missing=True) }}"
  when:
    - item.0.value.spec.state in ['running', 'created']
    - item.1.vm_data is defined
    - vm_data[item.1.vm_data].vm == item.0.value.spec.name
    - item.1.device is not in (item.0.value.vm_mounts | map(attribute='device')) 
       or (item.0.value.spec.name in updated_vms | map(attribute='name'))

- name: VMs state
  virt:
    name: "{{ vm.key }}"
    state: "{{ vm.value.spec.state }}"
  with_dict: "{{ vm_inventory }}"
  loop_control:
    loop_var: vm
  when:
    # Avoid messing with already deleted VMs which are still in config
    - (vm.key in registered_vms.list_vms) or (vm.key in create_vms | map(attribute='name'))
    - vm.value.spec.state != 'created'

- name: Load any just created VMs
  command: /usr/bin/virsh dumpxml {{ item.name }}
  register: dom_xml
  with_items:
    - "{{ updated_vms }}"

- name: Register VMs created
  set_fact:
    create_vms: "{{ create_vms | difference(updated_vms) }}"

- set_fact:
    "dom_dict_{{ item.item.name | replace('-', '_') }}": "{{ item.stdout | ansible.utils.from_xml }}"
  with_items:
    - "{{ dom_xml.results }}"

- name: Undefine VMs for deletion
  virt:
    command: undefine
    name: "{{ vm.key }}"
    flags:
      - nvram
  with_dict: "{{ vm_inventory }}"
  loop_control:
    loop_var: vm
  when:
    - vm.value.spec.state in ["destroyed"]
    - vm.value.spec.delete_on_termination | default(false) | bool
    - vm.key in registered_vms.list_vms
  register: undefined

- name: Deactive undefined VMs LV
  lvol:
    lv: "{{ item.hostname }}"
    vg: "{{ item.vm.value.spec.vm_volume_group | default(vm_volume_group) }}"
    active: false
  with_items: "{{ undefined.results }}"
  when: item.undefine is defined

- name: Remove undefined VMs LV
  lvol:
    lv: "{{ item.hostname }}"
    vg: "{{ item.vm.value.spec.vm_volume_group | default(vm_volume_group) }}"
    state: absent
    force: true
  with_items: "{{ undefined.results }}"
  when: item.undefine is defined
