#!/bin/sh
# {{ ansible_managed }}

{% if dnsmasq_enabled == 'yes' -%}
interface=$1
status=$2
if [[ "$interface" == "{{ inside_nic }}"{% if wlan_nic is defined %} || "$interface" == "{{ wlan_nic }}"{% endif %} ]]
then
    case $status in
        up)
            systemctl restart dnsmasq
        ;;
    esac
fi
{% endif -%}
