# {{ ansible_managed }}

port=53

domain-needed
bogus-priv
domain={{ domain }}
local=/{{ domain }}/
user=dnsmasq
group=dnsmasq
filterwin2k
dhcp-name-match=set:wpad-ignore,wpad
dhcp-ignore-names=tag:wpad-ignore

interface={{ inside_nic }}
except-interface=lo
bind-interfaces

{% if router_features_merged.dns.upstream_servers is defined %}
no-resolv
{% for server in router_features_merged.dns.upstream_servers %}
server={{ server }}
{% endfor %}
{% else %}
#no-resolv
{% endif %}

{% if router_features_merged.dhcpd.use_external_router is defined %}
dhcp-option=option:router,{{ router_features_merged.dhcpd.use_external_router }}
{% endif %}

{% if router_features_merged.dns.client_servers is defined %}
dhcp-option=option:dns-server,{{ router_features_merged.dns.client_servers | join(',') }}
{% endif %}

conf-dir=/etc/dnsmasq.d/,*.conf
