# {{ ansible_managed }}
[main]
dns=none
systemd-resolved=false
rc-manager=unmanaged
{% if network_merged.no_auto_default is defined %}
no-auto-default={{ network_merged.no_auto_default | join(',') }}
{% endif %}
