# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Old school hosts file sync for private VMs
{% for host, host_values in vm_inventory.items() %}
{% if host_values.address is defined %}
{{ host_values.address }} {{ 'vm-' + host }} {{ 'vm-' + host }}.{{ domain }}
{% endif %}
{% endfor %}
