#cloud-config
ssh_pwauth: False
preserve_hostname: {% if item.0.network.static_hostname | default(false) | bool -%}false
hostname: {{ hostvars[item.0.name].dns_host }}
fqdn: {{ hostvars[item.0.name].dns_host }}.{{ domain }}
{%- else -%}true
{% endif %}

ssh_authorized_keys:
  - {{ ssh_public_key }}

#users:
#  - default
#  - name: joe
#    ssh_authorized_keys:
#      - {{ ssh_public_key }}
#    groups: wheel
