# {{ ansible_managed }}

port=53

domain-needed
bogus-priv
domain={{ domain }}
local=/{{ domain }}/
user=dnsmasq
group=dnsmasq

interface={{ inside_nic }}
except-interface=lo
bind-interfaces

no-resolv
{% for server in router_features_merged.dns.public %}
server={{ server }}
{% endfor %}

{% if router_features_merged.dhcpd.router is defined %}
dhcp-option=option:router,{{ router_features_merged.dhcpd.router }}
{% endif %}


conf-dir=/etc/dnsmasq.d/,*.conf
