# {{ ansible_managed }}

{% for dhcp_host in leases.vms %}
{% if hostvars[(dhcp_host.name | split(','))[0]] is defined %}
dhcp-host={{ (dhcp_host.name | split(','))[1] }},{{ hostvars[(dhcp_host.name | split(','))[0]].ansible_host }},{{ prefix_24 }}.{{ dhcp_host.value }}
{% endif %}
{% endfor %}

{% for host in groups.vms %}
{% if hostvars[host].local_ssh_access | bool and hostvars[host].admin_ip != '' %}
address=/{{ hostvars[host].dns }}/{{ hostvars[host].admin_ip }}
{% endif %}
{% endfor %}
